<!--<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand abs" href="" id="main_page_link">Transport service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a *ngIf="isAdmin()" class="nav-link" href="addStop" id="add_stop_link">Add stop</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="isAdmin()" class="nav-link" href="addLine" id="add_line_link">Add line</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="isAdmin()" class="nav-link" href="deleteStop" id="delete_stop_link">Delete stop</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="isAdmin()" class="nav-link" href="deleteLine" id="delete_line_link">Delete line</a>
      </li>

      <li class="nav-item active">
        <a  class="nav-link" href="listSchedule" id="list_schedule_link">List schedule</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="isAdmin()" class="nav-link" href="changeSchedule" id="change_schedule_link">Change schedule</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="isAdmin()" class="nav-link" href="addVehicle" id="add_vehicle_link">Add vehicle</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="isAdmin()" class="nav-link" href="deleteVehicle" id="delete_vehicle_link">Delete Vehicle</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="isAdmin()" class="nav-link" href="assignLine" id="assign_line_link">Assign Line to Vehicle</a>
      </li>

      <li class="nav-item active">
        <a *ngIf="isAdmin()" class="nav-link" href="pricelists" id="pricelist_link">Manage pricelist</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a *ngIf="verifyBtn" class="nav-link" href="verify">Please verify your account</a>
      </li>

      <li class="nav-item active">
        <a *ngIf="isPassenger()" class="nav-link" href="tickets" id="tickets_link">Buy tickets</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button *ngIf="loggedIn()" (click)="logout()" class="btn nav-link" id="logout_btn"><b>Logout</b></button>
      </li>
      <li class="nav-item">
        <a *ngIf="!loggedIn() && router.url != '/login'" class="nav-link" href="login" id="login_link"><b>Login</b></a>
      </li>
    </ul>
  </div>
</nav>-->
<div class="container">
  <router-outlet></router-outlet>
</div>
