<div class="container text-center">
    <h1>List of alarms</h1>
  </div>
  <div class="container">
      <div class="row">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>Message</th>
            <th>timestamp</th>
           
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let log of listOfAlarms">
            <td>{{log.id}}</td>
            <td>{{log.message}}</td>
            <td>{{log.timestamp}}</td>
          </tr>
          </tbody>
  
        </table>
        
      </div>