<div class="container text-center">
  <h1>List of logs</h1>
</div>
<div class="container">
    <div class="row">
      <div class="search-log">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search through all data">
      </div>
    
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Text</th>
          <th>Status</th>
          <th>Platform</th>
          <th>Type</th>
          <th>User</th>
          <th>Ip</th>
         
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let log of listOfLogs | filter:searchText">
          <td>{{log.id}}</td>
          <td>{{log.text}}</td>
          <td>{{log.status}}</td>
          <td>{{log.platform}}</td>
          <td>{{log.type}}</td>
          <td>{{log.user.username}}</td>
          <td>{{log.ip.ip}}</td>    
        </tr>
        </tbody>

      </table>
      
    </div>