<div class="row mt-3">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <label>Rule name: </label><br/>
    <textarea matInput placeholder="Rule name" class="md-textarea form-control" rows="3" name = "rulename" [(ngModel)]="rule.name" ></textarea>
    <br/>
    <button class="btn btn-primary" (click)="notClicked()">NOT</button>
    <button class="btn btn-primary" (click)="andClicked()">AND</button>
    <button class="btn btn-primary" (click)="orClicked()">OR</button><br/>
    
    <div id="conditions">
      <div>
          <label>Field and value: </label><br/>
          <div *ngFor="let cond of rule.conditions">
              {{ cond }} 
          </div>
          <select id="field1" class="browser-default custom-select" [(ngModel)]="field">
              <option value="ip">ip</option>
              <option value="user.username">username</option>
              <option value="type">type</option>
              <option value="status">status</option>
              <option value="platform">platform</option>
            </select>
          <input id="value1" type="text" [(ngModel)]="fieldVal">
      </div>
    </div>
    <label>Occurrences: <input [(ngModel)]="rule.occurrences" required /></label><br/>
    <label>Interval: <input type="number" [(ngModel)]="rule.interval" required /></label><br/>
    <label>Interval unit: </label>
    <select class="browser-default custom-select" [(ngModel)]="rule.unit">
        <option value="seconds">seconds</option>
        <option value="minutes">minutes</option>
        <option value="hours">hours</option>
        <option value="days">days</option>
      </select><br/>

    <button  class="btn btn-primary" (click)="createRule()">
      Create rule
    </button>
  </div>
  <div class="col-md-3"></div>
</div>