<form class="border border-light p-5">

  <p class="h4 mb-4 text-center">Generate Certificate</p>

  <label for="Certificate Name">Certificate Name</label>
  <input type="text" id="Certificate Name" class="form-control mb-4" name="x500Name" [(ngModel)]="CertificateResponse.x500Name" placeholder="x500Name">
  <br>

  <label>Certificate Type</label>
  <div class="custom-control custom-radio mb-4">
    <select id="field1" class="browser-default custom-select" name="type" [(ngModel)]="CertificateResponse.type">
      <option value="ROOT">ROOT</option>
      <option value="INTERMEDIATE">INTERMEDIATE</option>
      <option value="CLIENT">CLIENT</option>
    </select>
  </div>
  <br><br>

  <label>Issuer Data</label>
  <br><br>

  <label for="Issuer Serial Number">Serial Number</label>
  <input type="text" id="Issuer Serial Number" class="form-control mb-4" name="serialNumber" [(ngModel)]="IssuerData.serialNumber" placeholder="Issuer Serial Number">

  <label for="Issuer Name">Name</label>
  <input type="text" id="Issuer Name" class="form-control mb-4" name="x500Name" [(ngModel)]="IssuerData.x500Name" placeholder="Issuer Name">
  <br><br>

  <label>Subject Data</label>
  <br><br>

  <label for="Subject Name">Name</label>
  <input type="text" id="Subject Name" class="form-control mb-4" name="name" [(ngModel)]="SubjectData.name" placeholder="Subject Name">

  <label for="Start Date">Start Date</label>
  <input type="date" id="Start Date" class="form-control mb-4" name="startDate" [(ngModel)]="SubjectData.startDate" placeholder="">

  <label for="End Date">End Date</label>
  <input type="date" id="End Date" class="form-control mb-4" name="endDate" [(ngModel)]="SubjectData.endDate" placeholder="">
  <br>

  <button class="btn btn-info my-4 btn-block" (click)="generateCertificate()">Generate</button>

</form>

